body, html {
	font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #323232;
	width: 100% !important;
	height: 100% !important;
}
h2 {
	margin: 0 0 20px 0;
	color: #323232;
	font-family: 'kopubbatang' !important;
	/* text-transform: uppercase; */
	letter-spacing: 1px;
	font-weight: 00;
	font-size: 30px;
}
h3, h4 {
	font-family: 'kopubbatang' !important;
	color: #323232;
	font-size: 15px;
	font-weight: 300;
	letter-spacing: 1px;
	-ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    text-decoration-line: none !important;
}
h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}


p.intro {
	font-size: 16px;
	margin: 12px 0 0;
	line-height: 24px;
}
a {
	color: #323232;
}
a:hover, a:focus {
	text-decoration: none;
	color: #000;
}
ul, ol {
	list-style: none;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
ul, ol {
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
}
hr {
	height: 0.7px;
	width: 70px;
	text-align: center;
	position: relative;
	background: #323232;
	margin: 0 auto;
	margin-bottom: 30px;
	border: 0;
}
/* Navigation */
#nav {
	z-index: 9999;
}
#nav.affix {
	position: fixed;
	top: 0;
	width: 100%
}
.navbar .navbar-nav {
	display: inline-block;
	margin: auto;
	float: none;
	vertical-align: top;
}
.navbar .navbar-collapse {
	text-align: center;
}
.navbar-custom {
	margin-bottom: 0;
	background-color: #eeeeee;
	border-radius: 0px;
	padding: 10px 0;
	border-bottom: 2px solid #fff;
}
.navbar-custom a {
	color: #323232;
}
.navbar-custom .nav li a {
	margin: 0 60px;
	font-family: "kopubbatang" !important;
	text-transform: uppercase;
	letter-spacing: 2px;
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
}
.navbar-custom .nav li a:hover {
	outline: 0;
	color: #323232;
	background-color: transparent;
}
.navbar-custom .nav li a:focus, .navbar-custom .nav li a:active {
	outline: 0;
	background-color: transparent;
	color: #323232;
}
.navbar-custom .nav li.active {
	outline: 0;
}
.navbar-custom .nav li.active a {
	background-color: rgba(255,255,255,.3);
}
.navbar-custom .nav li.active a:hover {
	color: #fff;
}
.btn-default {
	font-family: "kopubbatang" !important;
	text-transform: uppercase;
	color: #323232;
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 10em !important;
	border-color: #323232;
	padding: 14px 20px;
	margin: 0;
	font-size: 10px;
	border-radius: 0;
	margin-top: 20px;
}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
	color: #fff;
	font-family: "kopubbatang" !important;
	border-radius: 10em !important;
	background-color: #323232;
	border-color: #323232;
}
/* Header Section */
.intro {
	display: table;
	width: 100%;
	padding: 0;
	text-align: center;
	color: #323232;
	/* background: url(../img/cloud.jpg) no-repeat center top; */
	background-color: #ffffff;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
.section-title.center {
	padding: 10px 0 40px 0;
}
.intro h1 {
	font-size: 60px;
	/* font-weight: 600; */
	letter-spacing: 2px;
	/* text-transform: uppercase; */
	margin-bottom: 20px;
	color: #323232;
}
.intro p {
	font-family: "kopubbatang";
	font-size: 15px;
	margin-bottom: 40px;
	margin-top: 20px;
	/* font-weight: 600; */
	-ms-user-select: none; 
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
header .intro-text {
	font-family: "tamoro" !important;
	padding-top: 200px;
	padding-bottom: 20px;
	-ms-user-select: none; 
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
/* About Section */
#about {
	padding: 120px 0;
}
#about .about-text {
	font-family: "kopubbatang";
	text-align: center;
}
#about img {
	border-radius: 50%;
	width: 160px;
	height: 160px;
	display: inline-block;
}
#about p {
	margin-top: 40px;
	margin-bottom: 30px;
	line-height: 22px;
}
/* Portfolio Section */
#portfolio {
	padding: 120px 0;
	background: #eeeeee;
}
.categories {
	padding-bottom: 30px;
	text-align: center;
}
ul.cat li {
	display: inline-block;
}
ol.type li {
	display: inline-block;
	margin-left: 20px;
}
ol.type li a {
	font-family: "kopubbatang" !important;
	border-radius: 10em !important;
	border: 1px solid #323232;
	color: #323232;
	padding: 8px 20px;
}
ol.type li a.active {
	border-radius: 10em !important;
	background: #323232;
	border: 1px solid #323232;
	color: #fff;
}
ol.type li a:hover {
	border-radius: 10em !important;
	background: #323232;
	border: 1px solid #323232;
	color: #fff;
}
.isotope-item {
	z-index: 2
}
.isotope-hidden.isotope-item {
	z-index: 1
}
.isotope, .isotope .isotope-item {
	/* change duration value to whatever you like */
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	transition-duration: 0.8s;
}
.isotope-item {
	margin-right: -1px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.isotope {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	transition-property: height, width;
}
.isotope .isotope-item {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	transition-property: transform, opacity;
}
.portfolio-item {
	margin: 15px 0;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
	object-fit:cover !important;
}
.portfolio-item:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1); 
}
.portfolio-item .hover-bg {
	height: 195px;
	overflow: hidden;
	position: relative;
}
.hover-bg .hover-text {
	position: absolute;
	text-align: center;
	margin: 0 auto;
	color: #ffffff;
	background: #3232325b;
	padding: 30% 0 0 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: all 0.5s;
}
.hover-bg .hover-text>h4 {
	text-transform: uppercase;
	opacity: 0;
	color: #fff;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	transition: all 0.3s;
}
.hover-bg:hover .hover-text>h4 {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.hover-bg .hover-text>i {
	opacity: 0;
	-webkit-transform: translateY(0);
	transform: translateY(0);
	transition: all 0.3s;
}
.hover-bg:hover .hover-text>i {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
}
.hover-bg:hover .hover-text {
	opacity: 1;
}
#portfolio i.fa {
	font-size: 20px;
	padding: 5px;
	color: #E87E04;
}
/* Contact Section */
#contact {
	padding: 120px 0 60px 0;
}
#contact h3 {
	padding-top: 20px;
	font-size: 20px;
	font-weight: 400;
	color: #fff;
}
#contact form {
	padding: 30px 0;
}
#contact .text-danger {
	color: #323232;
	text-align: left;
}
label {
	font-size: 12px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	float: left;
}
#contact .form-control {
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #323232;
	background-color: rgba(255,255,255,0.8);
	background-image: none;
	border: 1px solid #323232;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
#contact .form-control:focus {
	border-color: inherit;
	outline: 0;
	-webkit-box-shadow: transparent;
	box-shadow: transparent;
}
.form-control::-webkit-input-placeholder {
color: #32323282;
font-family: 'kopubbatang' !important;
}
.form-control:-moz-placeholder {
color: #323232;
font-family: 'kopubbatang' !important;
}
.form-control::-moz-placeholder {
color: #323232;
font-family: 'kopubbatang' !important;
}
.form-control:-ms-input-placeholder {
color: #323232;
font-family: 'kopubbatang' !important;
}
#contact .social {
	margin-top: 80px;
}
#contact .social ul li {
	display: inline-block;
	margin: 0 20px;
}
#contact .social i.fa {
	font-size: 22px;
	padding: 4px;
	color: #323232;
	transition: all 0.5s;
}
#contact .social i.fa:hover {
	color: #323232;
}
.btn:active, .btn.active {
	font-family: "kopubbatang" !important;
	border-radius: 10em !important;
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	border-radius: 10em !important;
	outline: none;
	outline-offset: none;
}
/* Footer Section*/
#footer {
	background: #eeeeee;
	color: #323232;
	padding: 30px 0 25px 0;
}
#footer p {
	font-size: 13px;
}
#footer a {
	color: #323232;
}
#footer a:hover {
	color: #323232;
}
